<div class="container pb-4 my-3">
	<div class="row principal my-3">
		<div class="col-12 pt-2 titulo text-center ">
      <button class="b_mapaC">Mapa Completo</button>
		</div>
    <div class="col-12 pt-2 titulo text-center ">
      <span>Estaciones:</span>
      <br>
      <button class="b_mapa1">San Antonio</button>
      <button class="b_mapa2">San Jose</button>
      <button class="b_mapa3">Pabellon De Agua</button>
      <button class="b_mapa4">Bicentenario</button>
      <button class="b_mapa5">Buenos Aires</button>
      <button class="b_mapa6">Miraflores</button>
      <button class="b_mapa7">Loyola</button>
      <button class="b_mapa8">Alejandro Echavarria</button>
      <button class="b_mapa9">Oriente</button>
    </div>
	</div>
  <hr>  
	<div class="row complete_map">
		<div class="col-10 offset-1 select_mapa" id="select_mapa">
		</div>
  </div>
</div>
<script>
  $( document ).ready(function() {
    new DesplegarMapa();
  });
</script>