.container {
 font-size: 18px;
  span {
    font-size: 22px;
  }
  .complete_map {
    display: none;
    .select_mapa {
      height: 650px;
      border: 2px solid #B8B8B8;
      border-radius: 2px;
    }
  }
}

.principal {
  min-height: 100%;
}
