.container {
  width: 100%;
  background-color: white;
  border-radius: 10px; 
	button {
    background-color: #B3FF01;
    margin: 10px 5px;
    padding: 5px 15px;
    border-radius: 10px;
    border-color: #4C4C4C;
    cursor: pointer;
    &:hover {
      background-color: #89BF00;
      transition: 0.5s;
    }
  }
  span {
    font-size: 22px;
    font-weight: bold;
  }
  .complete_map {
    display: none;
    .select_mapa {
      height: 650px;
      border: 2px solid #B8B8B8;
      border-radius: 2px;
    }
  }
}

.principal {
  min-height: 100%; 
}