@import "bootstrap";
@import "font-awesome";
@import "admin/mapas";
@import "admin/trains_details";
@import "admin/alerts";


body, html {
	width: 100%;
  height: 100%;
	background-color: #B8B8B8ff;
}
