class DesplegarMapa
  constructor: ->
    $('.b_mapaC').on('click', @mapa_completo)
    $('.b_mapaE').on('click', @mapa_especifico)

  mapa_completo: () ->
    $('.complete_map').show();
    map = new Map;
    console.log(map)
    map.initMap

  mapa_especifico: () ->
    $('.select_mapa').empty().append('<h1>Adios</h1>')

window.DesplegarMapa = DesplegarMapa


class DesplegarMapa_Completo
  constructor: ->
    initMap()

window.DesplegarMapa_Completo = DesplegarMapa_Completo