<!DOCTYPE html>
<html>
  <head>
    <title>METracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXNskiDoJOmHT7Lu5JgkdzggneWQgLxYM&libraries=geometry"
  async defer></script>
  <script>
    $( document ).ready(function() {
        console.log( "ready!" );
    });
  </script>
</html>
